﻿@model CloudAssignment.Models.Domain.Booking
@inject CloudAssignment.DataAccess.Interfaces.ITypeRepository MyTypeService

@{
    ViewBag.Title = "Create a Booking";
}



<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

<div id="mapid" style="width:500px; height:500px">
</div>
<button id="resetbutton" class="btn btn-primary" style="visibility:hidden" onclick="resetclicks()">
    Reset
</button>
<br />

<div id="submit-form" style="visibility:hidden">
    <form asp-action="Create" enctype="multipart/form-data">

        <div class="form-group">
            <label asp-for="Type" class="control-label">Choose type of service</label>
            <select class="form-control" name="Type">
                @foreach (CarTypes t in MyTypeService.GetTypes()) {
                    <option value="@t.ServiceName">@t.ServiceName @t.ServicePrice Euros per km</option>
                    @*<option value="USER">User</option>*@
                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Confirm" class="btn btn-primary" />
        </div>

        <input style="visibility:hidden" id="address-from" asp-for="AddressFrom" class="form-control" />
        <input style="visibility:hidden" id="address-to" asp-for="AddressTo" class="form-control" />

    </form>
</div>

<script>
    var mymap = L.map('mapid').setView([51.505, -0.09], 13);

    let clicks = 0;
    let from, to = [];

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoicGF3bGluYTUzIiwiYSI6ImNrbXFlZTAxeDJudXIycHFvZmdwdzFqczYifQ.UZVt1rKhjOtxJmcrWbz-eQ', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright%22%3EOpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/%22%3EMapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'your.mapbox.access.token'
    }).addTo(mymap);

    function onMapClick(e) {
        if (clicks === 0) {
            clicks = 1;
            from = L.marker(e.latlng).addTo(mymap)

            fetching(from);
        } else if (clicks === 1) {
            clicks = 2;

            to = L.marker(e.latlng).addTo(mymap);
            document.getElementById("resetbutton").style.visibility = "visible";
            document.getElementById("submit-form").style.visibility = "visible";
            fetching(to);
        }
        console.log(from._latlng, to._latlng)


    }

    function fetching(location) {
        fetch('https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=' + location._latlng.lat + '&lon=' + location._latlng.lng)
            .then(res => res.json())
            .then(data => {

                document.getElementById(location === to ? 'address-to' : 'address-from').value = data.address.road + ", " + data.address.city + ", " + data.address.state;

            })
            .catch(err => console.error(err)
            )
    }

    function resetclicks() {
        clicks = 0;
        mymap.removeLayer(from);
        mymap.removeLayer(to);
        from = [];
        to = [];
        document.getElementById("resetbutton").style.visibility = "hidden";
        document.getElementById("submit-form").style.visibility = "hidden";

    }


    mymap.on('click', onMapClick);
</script>