﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if (SignInManager.IsSignedIn(User))
    {
        if (!User.IsInRole("ADMIN") && !User.IsInRole("DRIVER") && !User.IsInRole("PASSENGER"))
        {
            <button class="btn btn-primary" type="button">
                <a style="color: #ffffff" href="/Roles/AllocateRole">Allocate Role</a>
            </button>
        }
        else if (User.IsInRole("DRIVER"))
        {
            <button class="btn btn-primary" type="button">
                <a style="color: #ffffff" href="/Car/Create">Upload Car</a>
            </button>
            <button class="btn btn-primary" type="button">
                <a style="color: #ffffff" href="/Service/Index">View Services</a>
            </button>
        }
        else if (User.IsInRole("PASSENGER"))
        {
            <button class="btn btn-primary" type="button">
                <a style="color: #ffffff" href="/Map/Create">Create a Booking</a>
            </button>
        }
        else if (User.IsInRole("ADMIN"))
        {
            <button class="btn btn-primary" type="button">
                <a style="color: #ffffff" href="/SubbedBookings/Index">View Bookings</a>
            </button>
            <button class="btn btn-primary" type="button">
                <a style="color: #ffffff" href="/Admin/Create">Change Prices</a>
            </button>
        }



    }
</div>
